html, body {
  height:auto!important;
  min-height:100vh;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  @media only screen and (max-width: 800px) {
    html {
      
      min-height:100%;
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 550px) {
    html {
      height:auto;
      min-height: 100vh;

    }
  }

  @media only screen and (max-width: 450px) {
    html {
      height:auto;
      min-height: 100vh;
    }

  }
/*background animation smooth gradiant*/
  body {
    color: black;
    background: linear-gradient(-45deg, #d3fd85, #52f506, #fcaf58, #f1ef78);
    background-size: 400% 400%;
    animation: backgroundGradient 15s ease infinite;
  }
  
  @keyframes backgroundGradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  

header{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: 900;
    max-width: 100%;
    margin-top: 4vw;
}

.span1{
  color: brown;
}

.span2{
  color: blueviolet;
}

.span3{
  color: darkgreen;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  max-width: 100%;
  width: 100%;
  bottom: 0;
  height: 4vw;
}

.container {
  width: 100%;
  max-width: 100%;
}

h3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 7vw;
  width: 100%;
  font-size: 5vw;
  max-width: 100%;
}

h4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  font-size: 9vw;
  margin-top: 8vw;
  max-width: 100%;
}

.icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin-top: 10vw;
  gap: 4vw;
}

.gameText{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 8vw;
  text-align: center;
  font-weight: 800;
  white-space: pre-line;
  margin-top: 8vw;
  margin-bottom: 5vw;
  width: 100%;
  max-width: 100%;
  color: white;
}

p{
  margin: 0;
}
.gameScore{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 12vw;
  font-weight: 600;
  width: 100%;
  max-width: 100%;
  color: #002bff;
}

.box1{
  display: flex;
  justify-content: space-around;
  align-items: center ;
  font-size: 8vw;
  font-weight: 700;
  text-align: center;
  white-space: pre-line;
  width: 100%;
  max-width: 100%;
  margin-top: 4vw;
  margin-bottom: 4vw;
  color: white;

}

.playScore{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.computerScore{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.restart{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

img{
  max-width: 100%;
}

.rockButton{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #fff;
  background: brown;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: larger;
  font-weight: 600;
  width: 40%;
  max-width: 100%;
}

.paperButton{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #fff;
  background: blueviolet;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: larger;
  font-weight: 600;
  width: 40%;
  max-width: 100%;
}

.siscorsButton{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #fff;
  background: darkgreen;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: larger;
  font-weight: 600;
  width: 40%;
  max-width: 100%;
}

/* button animations*/
.rockButton:before {
  content: '';
  background: linear-gradient(
    45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.rockButton:active {
  color: brown;
}

.rockButton:active:after {
  background: transparent;
}

.rockButton:hover:before {
  opacity: 1;
}

.rockButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(97, 5, 5);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.paperButton:before {
  content: '';
  background: linear-gradient(
    45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.paperButton:active {
  color: blueviolet;
}

.paperButton:active:after {
  background: transparent;
}

.paperButton:hover:before {
  opacity: 1;
}

.paperButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: blueviolet;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.siscorsButton:before {
  content: '';
  background: linear-gradient(
    45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.siscorsButton:active {
  color: darkgreen;
}

.siscorsButton:active:after {
  background: transparent;
}

.siscorsButton:hover:before {
  opacity: 1;
}

.siscorsButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkgreen;
  left: 0;
  top: 0;
  border-radius: 10px;
}


@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
/*end of button animations*/

.playBtn {
  display: flex;
  width: 65%;
  height: 8vw;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2vw;
  font-size: 4vw;
  font-weight: 800;
  border: 12px;
  gap: 3vw;
  border: none;
  outline: none;
  color: #fff;
  background: darkblue;
  cursor: pointer;
  position: relative;
  z-index: 0;
  max-width: 100%;
}

.playBtn:before {
  content: '';
  background: linear-gradient(
    45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.playBtn:active {
  color: darkblue;
}

.playBtn:active:after {
  background: transparent;
}

.playBtn:hover:before {
  opacity: 1;
}

.playBtn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkblue;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.buttons { 
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.buttons button { 
  width: 100%;
}